<html>
<head>
    <title>Index</title>
    <script scr="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script scr="carsSearch.js"></script>
</head>

<body>
<div>
    <input type="id" name="id" value="id">

    <input type="radio">
    <p class="id">The ID is</p>
    <p class="name">Name is</p>


    <form action="">
        <p><input name="user" required placeholder="Ваше имя"></p>
        <p><input type="submit" value="Отправить"></p>
    </form>

</div>
</body>
</html>