<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>История заказов</title>
</head>
<body>

<div id="orderEmpty" style="display: block">
    Корзина пуста
</div>
<header>
    <nav>
        <ul>
            <li><a href="/index">На главную</a></li>
            <li><a href="/basket">Корзина</a></li>
            <li><a href="/personalArea">Личный кабинет</a></li>
            <li>
                <button onclick="logOut()">Выйти</button>
            </li>
        </ul>
    </nav>
</header>

<h1>История заказов:</h1>
<table id="orderNotEmpty" style="display: none">
    <thead>
    <th> Имя получаетля</th>
    <th> Адрес доставки</th>
    <th> Статус заказа </th>
    <th> Модель авто</th>
    <th> Кузов</th>
    <th> Ширина</th>
    <th>  Длина </th>
    <th> Двгитель</th>
    <th> Мощность</th>
    <th> Расход топлива</th>
    <th>  Цвет </th>
    <th>Трек номер</th>
    <th>Дата оплаты</th>
    <th> Цена</th>
    </thead>
    <tbody id="table-body"></tbody>
</table>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/requestHeader.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/basketStory.js/}"></script>
</body>
</html>