<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>

</head>

<table>
    <thead>
    <th> Id</th>
    <th> Название</th>
    <th>  двигатель:</th>
    <th>   мощность:  </th>
    <th>  расход топлива :</th>
    <th>  модель :</th>
    <th>   длина кузова :</th>
    <th>  ширина кузова :</th>
    <th>  тип :<</th>
    <th>  цвет :</th>
    </thead>
    <tbody id="cars-table"></tbody>
</table>

</br>
</br>
</br>
<div id="cars-container" class="cars-container">
    <div class="cars">Авто</div>
    <ul class="carsItems" id="carsItems">
        <li></li>
        <li></li>
    </ul>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/cars-work.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/cw.js/}"></script>


</body>
</html>



