<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
 <head>
    <meta charset="UTF-8">
    <title>Colors</title>

 </head>
 <header>
     <nav>
         <ul>
             <li><a href="/adminIndex">На главную</a></li>
         </ul>
     </nav>
     <!--     <link rel="stylesheet" href="style/table.css">-->
     <style>
     th, td {
     padding: 15px;
     text-align: left;
     }
</style>
 </header>

 <table>
     <thead>
     <th> Id</th>
     <th> Цвет</th>
     <th> Цена</th>
     <th> Код</th>
     </thead>
     <tbody id="table-body"></tbody>
 </table>
 <a href="/createColor">Создать</a>


<!-- <br>-->
<!-- <br>-->
<!-- <br>-->
<!-- <div id="demo-container" class="demo-container"  >-->
<!--  <div class="demo-box">Color</div>-->
<!--  <ul class="items" id="items">-->
<!--   <li></li>-->
<!--   <li> </li>-->
<!--   <li></li>-->
<!--   <li></li>-->
<!--  </ul>-->
<!-- </div>-->

 <br><br>
 <div id="edit-container" style="display: none">
     <input id="input-id" autocomplete="on" type="hidden" >
     <label><b>Цвет</b></label>
     <input id="name" autocomplete="on" type="text" name="name">
     <span id="errorName"  style="color: red;"></span>

     <br>
     <label><b>Цена</b></label>
     <input id="price" autocomplete="on" type="number" name="price">
     <span id="errorPrice"  style="color: red;"></span>

     <br>
     <label><b>Код цвета</b></label>
     <input id="color_code" autocomplete="on" type="text" name="color_code">
     <span id="error_color_code"  style="color: red;"></span><br><br>

     <button type="button" onclick="editColor()">Изменить</button>
 </div>



 <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
 <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
 <script type="text/javascript" th:src="@{/webjars/colors-work.js/}"></script>
 <script type="text/javascript" th:src="@{/webjars/createColor.js/}"></script>
 <script type="text/javascript" th:src="@{/webjars/editColor.js/}"></script>
 <script type="text/javascript" th:src="@{/webjars/requestHeader.js/}"></script>
 <script type="text/javascript" th:src="@{/webjars/cw.js/}"></script>


 </body>
</html>