<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
 <head>
    <meta charset="UTF-8">
    <title>Colors</title>

 </head>

<!-- <br>-->
<!-- <button type="button" name="getColor" id="getColor" value="GET COLOR" onclick="getColorById()">Edit</button>-->
<!-- <input type="button" name="postData" id="postData" value="POST DATA" onclick="postDataFromAPI();"/>-->



<!-- <input type="text" name="color_name" id="color_name"/>-->
<!-- <input type="text" name="color_price" id="color_price"/>-->
<!-- <input type="text" name="color_code" id="color_code"/>-->


 <table>
     <thead>
     <th> Id</th>
     <th> Цвет</th>
     <th> Цена</th>
     <th> Код</th>
     </thead>
     <tbody id="table-body"></tbody>
 </table>

 </br>
 </br>
 </br>
 <div id="demo-container" class="demo-container">
  <div class="demo-box">Color</div>
  <ul class="items" id="items">
   <li></li>
   <li></li>
   <li></li>
   <li></li>
  </ul>
 </div>




<!-- </br>-->
<!-- </br>-->
<!-- <table>-->
<!--     <thead>-->
<!--     <th> Id</th>-->
<!--     <th> Цвет</th>-->
<!--     <th> Цена</th>-->
<!--     <th> Мощность</th>-->
<!--     <th> Расход топлива</th>-->
<!--     </thead>-->
<!--     <tbody id="engines-table-body"></tbody>-->
<!-- </table>-->

<!-- <div id="engines-container" class="engines-container">-->
<!--     <div class="engines-box">Engine</div>-->
<!--     <ul class="enginesItems" id="enginesItems">-->
<!--         <li></li>-->
<!--         <li></li>-->
<!--         <li></li>-->
<!--         <li></li>-->
<!--         <li></li>-->
<!--     </ul>-->
<!-- </div>-->








<!-- </br>-->
<!-- </br>-->
<!-- </br>-->
<!-- <div id="models-container" class="models-container">-->
<!--     <div class="models-box">Модель</div>-->
<!--     <ul class="modelsItems" id="modelsItems">-->
<!--         <li></li>-->
<!--         <li></li>-->
<!--         <li></li>-->
<!--         <li></li>-->
<!--     </ul>-->
<!-- </div>-->


<!-- <table>-->
<!--     <thead>-->
<!--     <th> Id</th>-->
<!--     <th> Название</th>-->
<!--     </thead>-->
<!--     <tbody id="carcass-table"></tbody>-->
<!-- </table>-->

<!-- </br>-->
<!-- </br>-->
<!-- </br>-->
<!-- <div id="carcass-container" class="carcass">-->
<!--     <div class="carcass">Каркас</div>-->
<!--     <ul class="carcassItems" id="carcassItems">-->
<!--         <li></li>-->
<!--         <li></li>-->
<!--     </ul>-->
<!-- </div>-->






 <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
 <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
 <script type="text/javascript" th:src="@{/webjars/colors-work.js/}"></script>
<!-- <script type="text/javascript" th:src="@{/webjars/engines-work.js/}"></script>-->
<!-- <script type="text/javascript" th:src="@{/webjars/models-work.js/}"></script>-->
<!-- <script type="text/javascript" th:src="@{/webjars/carcass-work.js/}"></script>-->
 <script type="text/javascript" th:src="@{/webjars/cw.js/}"></script>


 </body>
</html>