<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>createColor</title>
</head>
<body>
</head>
<header>
    <nav>
        <ul>
            <li><a href="/adminIndex">На главную</a></li>
            <li><a href="/colorsHtml">К списку цветов</a></li>
        </ul>
    </nav>
</header>

<label><b>Цвет</b></label>
<input id="name" autocomplete="on" type="text" name="name">
<span id="errorName" style="color: red;"></span>
<br>

<label><b>Цена</b></label>
<input id="price" autocomplete="on" type="text" name="price">
<span id="errorPrice"  style="color: red;"></span>
<br>

<label><b>Код цвета</b></label>
<input id="color_code" autocomplete="on" type="text" name="color_code">
<span id="error_color_code"  style="color: red;"></span><br><br>

<button type="button" onclick="createColor()">Создать</button><br>



<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/createColor.js/}"></script>
<!-- <script type="text/javascript" th:src="@{/webjars/engines-work.js/}"></script>-->
<!-- <script type="text/javascript" th:src="@{/webjars/models-work.js/}"></script>-->
<!-- <script type="text/javascript" th:src="@{/webjars/carcass-work.js/}"></script>-->
<!--<script type="text/javascript" th:src="@{/webjars/cw.js/}"></script>-->
</body>
</html>