<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Engines</title>
    <style>
        span{
            color: red;
        }
        th, td {
            padding: 15px;
            text-align: left;
        }
    </style>
</head>
</head>
<header>
    <nav>
        <ul>
            <li><a href="/adminIndex">На главную</a></li>
        </ul>
    </nav>
</header>


 </br>
 </br>
 <table>
     <thead>
     <th> Id</th>
     <th> Название</th>
     <th> Цена</th>
     <th> Мощность</th>
     <th> Расход топлива</th>
     </thead>
     <tbody id="engines-table-body"></tbody>
 </table>
<br>
<a href="/createEngine">Создать</a>
<br><br>

 <div id="engines-container" class="engines-container" style="display: none">
     <div class="engines-box">Engine</div>
     <ul class="enginesItems" id="enginesItems">
         <li></li>
         <li></li>
         <li></li>
         <li></li>
         <li></li>
     </ul>
 </div>

<div id="edit-container" style="display: none">
    <input id="input-id" autocomplete="on" type="hidden" >

    <input id="input-idmodel" autocomplete="on" type="hidden" >

    <label><b>Название</b></label>
    <input id="name" autocomplete="on" type="text" name="name">
    <span id="errorName"></span><br>
    <br>

    <label><b>Цена</b></label>
    <input id="price" autocomplete="on" type="number" name="price">
    <span id="errorPrice"></span><br>
    <br>

    <label><b>Расход топлива</b></label>
    <input id="fuel_consumption" autocomplete="on" type="number" name="fuel_consumption">
    <span id="error_fuel_consumption"></span><br>
    <br>

    <label><b>Мощность</b></label>
    <input id="power" autocomplete="on" type="number" name="power">
    <span id="error_power"></span><br>

    <button type="button" onclick="editEngine()">Изменить</button>
</div>



<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
 <script type="text/javascript" th:src="@{/webjars/engines-work.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/editEngine.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/cw.js/}"></script>


</body>
</html>