<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car Store</title>
</head>
 <br>

 </br>
Приветствуем: <h1 id="fio"></h1>
 </br>

 <br>
<div id="login-container" class="login-container" style="display: block">
    Вход:
<label><b>Логин</b></label>
<input id="login" autocomplete="on" type="text" name="username">

<label><b>Пароль</b></label>
<input id="password" autocomplete="on" type="password" name="password">

<button onclick="logIn()">Войти</button>
<br>
<a href="/registration">Зарегистрироваться</a>
</div>
<br> <br> <br>

Уточнить поиск:
 <br>
 <select id="filter-model" onchange="changeFilter(event)">
     <option value="">-</option>
 </select>

 <select id="filter-engine" onchange="changeFilter(event)">
     <option value="">-</option>
 </select>

 <select id="filter-color" onchange="changeFilter(event)">
     <option value="">-</option>
 </select>

 <select id="filter-carcass" onchange="changeFilter(event)">
     <option value="">-</option>
 </select>


 <table>
     <thead>
     <th> Название</th>
     <th> Цена</th>
     </thead>
     <tbody id="table-body"></tbody>
 </table>

 </br>
 </br>
 </br>
 <div id="car-container" class="car-container" style="display: none">
     <div class="car-box">Auto</div>
     <ul class="items" id="items">
        двигатель:  <li></li>
        мощность:   <li></li>
        расход топлива : <li></li>
        модель :<li></li>
        длина кузова :<li></li>
        ширина кузова :<li></li>
        тип :<li></li>
        цвет :<li></li>
     </ul>
 </div>
 </br>
<div id="logout-container" class="logout-container" style="display: none">
 <button onclick="logOut()">Выйти</button>
</div>

 <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
 <script type="text/javascript" th:src="@{/webjars/auto-work.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/login.js/}"></script>
<!-- <script type="text/javascript" th:src="@{/webjars/cw.js/}"></script>-->
 </body>
</html>