<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car Store</title>
</head>
 <body>

 <br>

 <!-- <input type="button" name="postData" id="postData" value="POST DATA" onclick="postDataFromAPI();"/>-->
 <select id="filter-model" onchange="changeFilter(event)">
     <option value="">-</option>
 </select>

 <select id="filter-engine" onchange="changeFilter(event)">
     <option value="">-</option>
 </select>

 <select id="filter-color" onchange="changeFilter(event)">
     <option value="">-</option>
 </select>

 <select id="filter-carcass" onchange="changeFilter(event)">
     <option value="">-</option>
 </select>


 <table>
     <thead>
     <th> Название</th>
     <th> Цена</th>
     </thead>
     <tbody id="table-body"></tbody>
 </table>

 </br>
 </br>
 </br>
 <div id="car-container" class="car-container" style="display: none">
     <div class="car-box">Auto</div>
     <ul class="items" id="items">
        двигатель:  <li></li>
        мощность:   <li></li>
        расход топлива : <li></li>
        модель :<li></li>
        длина кузова :<li></li>
        ширина кузова :<li></li>
        тип :<li></li>
        цвет :<li></li>
     </ul>
 </div>

 <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
 <script type="text/javascript" th:src="@{/webjars/auto-work.js/}"></script>
<!-- <script type="text/javascript" th:src="@{/webjars/cw.js/}"></script>-->
 </body>
</html>