<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
    <title>Title</title>

 </head>

 <body>
 <button type="button" onclick="test()">push me</button>
 <input type="button" name="getData" id="getData" value="GET DATA" onclick="getDataFromAPI()">
 <input type="button" name="postData" id="postData" value="POST DATA" onclick="postDataFromAPI();"/>


 <input type="text" name="color_name" id="color_name"/>
 <input type="text" name="color_price" id="color_price"/>
 <input type="text" name="color_code" id="color_code"/>


 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
 <script src="static/colors-work.js" type="text/javascript"></script>
 </body>
</html>