<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Models</title>
    <style>
        span{
            color: red;
        }
    </style>

</head>
</head>
<header>
    <nav>
        <ul>
            <li><a href="/adminIndex">На главную</a></li>
        </ul>
    </nav>
</header>

<br>
<br>
 <table>
     <thead>
     <th> Id</th>
     <th> Название</th>
     <th> Цена</th>
     <th> Длина</th>
     <th> Ширина</th>
     </thead>
     <tbody id="models-table"></tbody>
 </table>
<a href="/createModel">Создать</a>

</br>
</br>
</br>
<div id="models-container" class="models-container" style="display: none">
    <div class="models-box">Модель</div>
    <ul class="modelsItems" id="modelsItems">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

<div id="edit-container" style="display: none">
    <input id="input-id" autocomplete="on" type="hidden" >
    <input id="input-idcarcass" autocomplete="on" type="hidden" >

    <label><b>Название</b></label>
    <input id="name" autocomplete="on" type="text" name="name">
    <span id="error_name"></span>
    <br>

    <label><b>Цена</b></label>
    <input id="price" autocomplete="on" type="number" name="price">
    <span id="error_price"></span>
    <br>

    <label><b>Ширина модели</b></label>
    <input id="width_carcass" autocomplete="on" type="number" name="width_carcass">
    <span id="error_width"></span>
    <br>

    <label><b>Длина модели</b></label>
    <input id="length_carcass" autocomplete="on" type="number" name="length_carcass">
    <span id="error_length"></span>
    <br>

    <button type="button" onclick="editModel()">Изменить</button>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
 <script type="text/javascript" th:src="@{/webjars/models-work.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/createModel.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/editModel.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/requestHeader.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/cw.js/}"></script>


</body>
</html>