<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
 <body>

 Регистрация:
 <form name="reg" method="post" action="..">
     <p><br> <b>Логин</b> </br>
         <input type="text" name="login">
     </p>
     <p><br> <b>Пароль</b> </br>
         <input type="password" name="password" value="Password">
     </p>
     <p><br> <b>ФИО</b> </br>
         <input type="text" name="fio" >
     </p>
     <p><br> <b>Дата рождения</b> </br>
         <input type="text" name="dateOfBirth">
     </p>
     <p><br> <b>Адрес</b> </br>
         <input type="text" name="adress" >
     </p>
     <p><br> <b>Номер телефона</b> </br>
         <input type="text" name="phone_number">
     </p>
     <input type="submit" value="Зарегистрироваться">
 </form>

 </body>
</html>