<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
 <body>

 <br><br>
 <label><b>Логин</b></label>
         <input id="login" autocomplete="on" type="text" name="login">
 <span id="error_login"></span>
<br><br>

 <label><b>Пароль</b></label>
         <input id="password" autocomplete="on" type="password" name="password" value="Password">
 <span id="error_password"></span>
 <br><br>

 <label><b>ФИО</b></label>
         <input id="fio" autocomplete="on" type="text" name="fio" >
 <span id="error_fio"></span>
 <br><br>

 <label><b>Дата рождения</b></label>
         <input id="dateOfBirth" autocomplete="on" type="text" name="dateOfBirth">
 <br><br>

 <label><b>Адрес</b></label>
         <input id="adress" autocomplete="on" type="text" name="adress" >
 <span id="error_adress"></span>
 <br><br>

 <label><b>Номер телефона</b></label>
         <input id="phone_number" autocomplete="on" type="text" name="phone_number">
 <span id="error_phone_number"></span>
 <br><br>

 <button type="button" onclick="createUser()">Зарегистрироваться</button>






 <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
 <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
 <script type="text/javascript" th:src="@{/webjars/registration.js/}"></script>
 <script type="text/javascript" th:src="@{/webjars/requestHeader.js/}"></script>
 <script type="text/javascript" th:src="@{/webjars/cw.js/}"></script>

 </body>
</html>